{% extends "base.html" %}
{% block title%}
Doctors
{% endblock title%}
{% block body%}
    <div class = "container mt-5">
        <div class = "row">
            
            <div class = "col-md-4">

            </div>
            <div class = "col-md-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="bordered shadow p-4 ">
                    <h2 class = "text-center text-white bg-primary">Doctors Booking</h2>
            <form action = "/doctors" method = "POST">

            <div class ="form-group">
                Email:
                <input type = "email" class = "form-control" name="email" placeholder = "email" required><br>
            </div>
            <div class ="form-group">
                Doctor name:
                <input type = "text" class = "form-control" name="doctorname" placeholder = "Doctor name" required><br>
            </div>
            <div class="mb-3">
                <label for="department" class="form-label"> Department</label>
                <input type = "text" class = "form-control" name="department" placeholder="department" requied><br>
            </div>
        
                
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Submit Booking</button>
            </div>
            </form>
            </div>

            <div class = "col-md-4"></div>

            </div>
        </div>
        </div>
    </div>
                    
    {% endblock body%}